
.login-hd{
    
    width: 100%;
    height: 150px;
    background-color: rgba(0, 60, 113, 1);
    display: block;
}

.bg-login {
    width: 97%;
    height: 520px;
    background-color: rgba(210, 209, 209, 1);
    display: block;
    margin:20px 20px 20px 20px;
    border-radius: 2em;
}

.m-auto button{
    background-color: rgba(0, 60, 113, 1);
}

.login-hd h1{
    color: white;
    text-align: right;
    padding-top:20px; 
}

.login-hd h2{
    
    color: rgba(0, 209, 255, 1);
    text-align: right;
}

.m-auto form{
    width: 50px;
    height: 100px;
    text-align: center;
    
}
.grid{
    padding-top:2.5em;
    margin: auto;
    width: 40%;
}

