
.login-hd{
    width: 100%;
    height: 150px;
    background-color: rgba(0, 60, 113, 1);
    display: block;
}

.m-auto{
    width: 100%;
    height: 550px;
    background-color: rgba(210, 209, 209, 1);
    display: block;
    
}

.m-auto button{
    background-color: rgba(0, 60, 113, 1);
}
.login-hd h2{
    color: white;
    text-align: right;
}

.login-hd h3{
    color: rgba(0, 209, 255, 1);
    text-align: right;
}

.m-auto form{
    width: 30%;
    height: 50px;
    text-align: center;
}

.m-auto {
    top: 1500px;
}

